@media screen and (max-width: 600px) {    
  #wrapper {    
    width:100%;    
  }

  #home{
    font-size:12px;
    padding:10px;    
    height:auto;
  }

  #divider{
    height:10px;
    font-size:14px;
  }
  .class_nav{    
    height:25px;
    font-size: 14px;
    padding: 0;
  }
  li a {
    padding: 4px 6px;   
  }
      
  #myImg{  
    height:150px;
  }
  #jfooter{
    display: block;
    font-size: 12px;
  }
      #l_foot{
        width:100%;height:50%;text-align:left;
      }
      #r_foot{
        width:100%;height:50%;text-align:left;
        float:left;
      }
    #c_foot{
      padding:2px 0 0 0;
    }

  .Library {
    transition: 01s;
    background:red;
    /*
    background-image: url('gfx/jdele.png'); background-repeat: no-repeat;
    height: 180px;
    width: 180px;
    */
    border:10px solid white;
    border-radius:50%;
    margin:0 auto;width:100px;height:100px;
  }  
  #div_lib{ 
    height:140px;
  }

  #dtl_divImg{ 
    height:74%;
  }
  #dtl_txt{ 
    height:16%;
    font-size:12px;
  }
  #dtl_siteBox{
    width:100%;height:10%;padding:5px;
  }
  .dtl_site{
    font-size:18px;padding:2px 12px 0px 12px;
  }
  #dtl_close{
    padding:0px 0 0 0;font-size:30px;
  }

  .class_head{
    display: block;    
    font-size:15px;    
    padding:2px;
    width:100%;
    height:25px;
  }

  .class_section{
    display: block;  
    height: auto;
    width:100%;
    border:1px solid lightgray;  
    padding:10px;color:gray;background-color:white;
    font-size: 14px;
    margin-bottom: 5%;
  }
  .sec1 {      
    width:100%;  
    text-indent: 20px;text-align: justify;  text-justify: inter-word;
    padding:10px;color:gray;background-color:none;
  }

  #div_sec2{
    height:150px;
  }
  .sec2 {
    float:left;
    width:47%;  height:100%;
    margin-left:2%;
    padding:10px;
    border:1px solid lightgray;
    color:black;background:none;
  }

  .col_projbox {       
    width:50%;height:33.33%;
  }
  .row_projbox{    
    height:300px;width:90%;margin-left:5%;margin-right:5%;padding:0px;margin-top:0px;background:white;
  }

  .class_div2_box div{      
    margin-top:5px;
    font-size:12px;
    width:100%;height:auto;      
    color:black; font-weight: bold;
  }
  .class_div2_box h5{    
    margin:0;
    width:100%;height:10px;  
    font-size:11px;
    color:#3396FF;
    margin-top:0px;    
    background:none;
  }
  .class_div2_box h6 {   
    margin:0;
    margin-top:11px;
    width:100%;height:35px;          
    padding:1px;
    font-size:10px; font-weight:normal;    
    overflow: auto;
    color:black;    
    background: none;
  }
  .class_div2_box h4{  
    margin:0;
    margin-top:2px;
    margin-left:20%; margin-right:20%;
    width:60%;height:20px;        
    border:2px solid #3396FF;
    padding:1px; font-size: 12px;
  }

  .modal-content{
    width: 90%;height:400px;
  }
}